<!DOCTYPE html>
<html>
<head>
    <title>Run Neo, Run!</title>
    <style>
        body {
            margin:0px;
        }
    </style>
    <!-- you need to set the static folder right http://exploreflask.readthedocs.io/en/latest/static.html -->
    <!-- <script src="{{ url_for('static', filename='js/phaser.min.js') }}"></script> -->
    <script src="js/phaser.min.js"></script>
    <script src="js/gamepreload.js"></script>
    <script src="js/gamestart.js"></script>
    <script src="js/gameover.js"></script>
    <script>
        (function(){

            var game = new Phaser.Game(window.innerWidth, window.innerHeight, Phaser.AUTO, "game");

            game.state.add("GamePreload", gamePreload);
            game.state.add("GameStart", gameStart);
            game.state.add("GameOver", gameOver);

            game.state.start("GamePreload");

        })();
    </script>
</head>
<body>

</body>
</html>
