<!DOCTYPE html>
<html>
<head>
    <title>Run Neo, Run!</title>
    <style>
        body {
            margin:0px;
        }
    </style>
    <!-- you need to set the static folder right http://exploreflask.readthedocs.io/en/latest/static.html -->
    <script src="{{ url_for('static', filename='js/phaser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gamepreload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gamestart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gameover.js') }}"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script>
        $(document).ready(function(){
            namespace = '/game';
            currentRoom = '';
            positionTest = 1337;
            var runner;

            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('set room', function(msg) {
                currentRoom = msg['room'];
                runner = msg['runner'];
                // $('#role').append('<br>' + $('<div/>').text((runner)?"Runner":"Navigator").html());
            })

            $('#positionTest').click(function(){
                if ((typeof runner !== 'undefined') && (runner)){
                    positionTest = Math.random();
                    $('#positionTest').text(positionTest);
                    socket.emit('send_position',{position: positionTest, room: currentRoom});
                }
            })

            // socket.on('get_position', function(msg) {
            //     if (!runner){
            //         positionTest = msg['position'];
            //         $('#positionTest').text(positionTest);
            //     }
            // })

            socket.on('my response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });


            $('form#emit').submit(function(event) {
                socket.emit('my event', {room: currentRoom,
                    data: $('#emit_data').val()});
                return false;
            });
            (function(){
                var game = new Phaser.Game(window.innerWidth, window.innerHeight, Phaser.AUTO, "game");

                game.state.add("GamePreload", gamePreload);
                game.state.add("GameStart", gameStart);
                game.state.add("GameOver", gameOver);

                game.state.start("GamePreload", true, false, socket, currentRoom);

                socket.on('get_position', function(msg) {
                    if (!runner){
                       asd =  parseInt(game.state.states["GameStart"].positionXTest) + 50;
                        game.state.states["GameStart"].positionXTest = asd;

                        positionTest = msg['position'];
                        $('#positionTest').text(positionTest);
                    }
                })
            })();
        });

    </script>
</head>
<body>
    <button id="positionTest" style="position:absolute; left:20px; top:20px;">position test</button>
    <div style="position:absolute; left:20px; top:40px; width:300px;">
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Send">
    </form>
    <div id="log"></div>
    </div>

    <div id="game" style="position:absolute;left:300px;"></div>
    <!-- <div id="role"></div> -->
</body>
</html>
