<!DOCTYPE html>
<html>
<head>
    <title>Run Neo, Run!</title>
    <style>
        body {
            margin:0px;
        }
    </style>
    <!-- you need to set the static folder right http://exploreflask.readthedocs.io/en/latest/static.html -->
    <script src="{{ url_for('static', filename='js/phaser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gamepreload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gamestart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gameover.js') }}"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script>
        (function(){
            var game = new Phaser.Game(window.innerWidth, window.innerHeight, Phaser.AUTO, "game");

            game.state.add("GamePreload", gamePreload);
            game.state.add("GameStart", gameStart);
            game.state.add("GameOver", gameOver);

            game.state.start("GamePreload");

        })();
        $(document).ready(function(){
            namespace = '/game';

            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);


            socket.on('my response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });

            $('form#emit').submit(function(event) {
                socket.emit('my event', {data: $('#emit_data').val()});
                return false;
            });
        });

    </script>
</head>
<body>
    <div style="position:absolute; left:20px; top:20px; width:300px;">
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Send">
    </form>
    <div id="log"></div>
    </div>

    <div id="game" style="position:absolute;left:300px;"></div>
</body>
</html>
